.file-download {
  border: 1px solid $grey500;
  background: $grey500;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  > .file-download-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
      flex-direction: row;
      align-items: center;
    }

    > h4 {
      flex: 1;
      font-weight: $font-weight-bold;
      color: $font-light-grey;
    }

    > .download-link {
      margin-bottom: 0.5rem;
      > a {
        color: $main-green;
        font-size: $font-size-600;
        text-decoration: none;
        font-weight: $font-weight-regular;
        display: flex;
        align-items: center;

        &:hover {
          text-decoration: underline;
        }

        > img {
          margin-right: 0.25rem;
        }
      }
    }
  }
  > p {
    font-size: $font-size-300;
    line-height: $font-size-400;
    color: $font-light-grey;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }

    > a {
      color: $main-green;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
