@mixin menuitem() {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family-dos;

  padding: 0.4rem 0.6rem;
  cursor: pointer;
  color: $grey50;
  text-decoration: none;
  &:first-letter {
    text-decoration: underline;
  }
  &:active,
  &.active {
    background: #000080;
    color: #fff;
  }

  @include landscape-phone {
    padding: 0.15rem 0.6rem;
  }

  > img {
    padding: 0.5rem;
  }

  &:hover {
    background-color: $grey100;
    color: $font-dark-grey;
  }
}

header {
  #mainmenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;

    .main-menu-mobile-button {
      @include menuitem();

      @include tablet {
        display: none;
      }
    }

    .mainmenu-content {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      visibility: hidden;

      border-left: 1px solid black;
      background: $secondary-background;
      z-index: 3;

      &.visible {
        visibility: initial;
      }

      @include tablet {
        position: relative;
        border: none;
        visibility: initial;
        background: transparent;
      }

      .mainmenu-row {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        @include tablet {
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }

      .separator {
        display: none;

        @include tablet {
          display: flex;
        }
      }

      .menuitem {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $font-family-dos;
        color: $font-dark-grey;
        text-decoration: none;
        padding: 0.5rem 1rem;

        &:first-child {
          margin-top: 0.5rem;
        }

        &:hover {
          background-color: $main-blue;
          color: $font-light-grey;
        }

        > img {
          margin-right: 0.5rem;
        }

        @include tablet {
          &:first-child {
            margin-top: 0rem;
          }
          @include menuitem();
        }
      }
    }
  }
}

// header {
//   > #mainmenu {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     justify-content: center;

//     .mainmenu-content {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//     }

//     .mainmenu-row {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       justify-content: center;
//       flex-wrap: wrap;
//       padding-top: 0.5rem;
//       padding-bottom: 0.5rem;

//       > .menuitem {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         font-family: $font-family-dos;

//         padding: 0.4rem 0.6rem;
//         cursor: pointer;
//         color: $grey50;
//         text-decoration: none;
//         &:first-letter {
//           text-decoration: underline;
//         }
//         &:active,
//         &.active {
//           background: #000080;
//           color: #fff;
//         }

//         @include landscape-phone {
//           padding: 0.15rem 0.6rem;
//         }

//         > img {
//           padding: 0.5rem;
//         }

//         &:hover {
//           background-color: $grey100;
//           color: $font-dark-grey;
//         }
//       }
//     }
//   }
// }
